/build
/captures
.externalNativeBuild
/local.properties
.DS_Store
/.idea/*
*.iml
.gradle
build/
bin/*
out/*
*.apk
*.aab
*.ap_
lint.xml
*.swp
*.bak
*.hprof
class_files.txt
/fastlane/README.md
/fastlane/report.xml
